$color-primary: #212b5a;
$color-secondary: #f3fbff;
$color-secondary-translucid: rgba(243, 251, 255, 0.8);
$color-accent: #110e3c;
$color-white: #fffdff;
$color-grey: #b7c1c9;
$color-grey-darker: #949396;

$font-family: 'Montserrat', sans-serif;
$font-base-size: 16px;
$font-base-line-height: 1.5;
