$color-primary: #212b5a;
$color-secondary: #f3fbff;
$color-accent: #7db3f1;
$color-white: #fffdff;
$color-grey: #b7c1c9;
$color-grey-darker: #949396;

$font-family: 'Montserrat', sans-serif;
$font-base-size: 16px;
$font-base-line-height: 1.5;
