<div class="container container-background">
  <div class="panel">
    <div class="forecast-summary">
      <div class="forecast-summary__top">
        <div class="display-1 forecast-summary__degrees">
          8º
        </div>
        <div class="forecast-summary__top-col">
          <div class="display-4 forecast-summary__date">Thursday 8</div>
          <div class="forecast-summary__weather-summary">
            <img class="forecast-summary__weather-summary-icon" src="/icons/021-cloudy-1.svg" alt="Cloudy Icon"
              width="32">
            <div class="body-2">
              <div>Mostly Cloud</div>
              <div>Feels like: 1º</div>
            </div>
          </div>
        </div>
        <div class="forecast-summary__top-col forecast-summary__min-and-max">
          <div class="display-4">Min: <b>-1º</b></div>
          <div class="display-4">Max: <b>13º</b></div>
        </div>
      </div>
      <div class="display-2 space-mt-1">New York</div>
    </div>

    <div class="forecast-controls">
      <button class="btn btn--collapsed"><img src="/icons/pencil-icon.svg"></button>
      <span class="caption text-grey">Data fecthed from OpenWeather® API</span>
    </div>

    <div class="forecast-daily">
      <div class="forecast-daily__item">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="forecast-daily__item-icon">
        <div class="forecast-daily__item-data">
          <div class="display-3">9º</div>
          <div class="body-1 space-mt-1">8:00 AM</div>
          <div class="caption text-grey">0% chance of rain</div>
        </div>
      </div>
      <div class="forecast-daily__item">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="forecast-daily__item-icon">
        <div class="forecast-daily__item-data">
          <div class="display-3">9º</div>
          <div class="body-1 space-mt-1">8:00 AM</div>
          <div class="caption text-grey">0% chance of rain</div>
        </div>
      </div>
      <div class="forecast-daily__item">
        <img src="/icons/021-cloudy-1.svg" alt="Cloudy Icon" class="forecast-daily__item-icon">
        <div class="forecast-daily__item-data">
          <div class="display-3">9º</div>
          <div class="body-1 space-mt-1">8:00 AM</div>
          <div class="caption text-grey">0% chance of rain</div>
        </div>
      </div>
    </div>
  </div>
</div>