<div class="container container-background">
  <div class="panel">
    <div class="forecast-summary">
      <div class="forecast-summary__top">
        <div class="display-1 forecast-summary__degrees">
          8ยบ
        </div>
        <div class="forecast-summary__top-col">
          <div class="display-4 forecast-summary__date">Thursday 8</div>
          <div class="forecast-summary__weather-summary">
            <img class="forecast-summary__weather-summary-icon" src="/icons/021-cloudy-1.svg" alt="Cloudy Icon"
              width="32">
            <div class="body-2">
              <div>Mostly Cloud</div>
              <div>Feels like: 1ยบ</div>
            </div>
          </div>
        </div>
        <div class="forecast-summary__top-col forecast-summary__min-and-max">
          <div class="display-4">Min: <b>-1ยบ</b></div>
          <div class="display-4">Max: <b>13ยบ</b></div>
        </div>
      </div>
      <div class="display-2 space-mt-1">New York</div>
    </div>

  </div>
</div>