<h1 class="display-2 space-mb-3">Not Found!</h1>

<img src="/img/undraw_raining_sguh.svg" alt="Girl under the rain image" class="space-mb-3" width="250">

<p class="space-mb-1">Sorry, the city that you're searching for does not exists in our database.</p>
<p>Click <LinkTo @route="index">here</LinkTo> try again with another city.</p>