.btn {
  background-color: $color-grey;
  border: none;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 700;
  padding: 12px 9px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:visited {
    opacity: inherit;
  }

  &--block {
    width: 100%;
  }

  &--collapsed {
    padding: 4px 8px;
  }
}
