.forecast-daily {
  &__item {
    align-items: flex-start;
    border-right: 1px solid $color-grey;
    display: inline-flex;
    margin-right: 8px;
    width: 140px;

    &:last-child {
      border-right: none;
      margin-right: 0;
    }
  }

  &__item-icon {
    vertical-align: top;
    width: 24px;
  }

  &__item-data {
    margin-left: 8px;
  }
}
