.forecast-summary {
  &__top {
    display: flex;
    flex-wrap: wrap;

    &-col {
      margin-left: 8px;
      margin-top: 8px;
    }
  }

  &__date {
    border-left: 1px solid $color-grey;
    padding: 1px 0 1px 8px;
  }

  &__weather-summary {
    display: flex;
    margin-top: 16px;
  }

  &__weather-summary-icon {
    margin-right: 8px;
    width: 32px;
  }

  &__min-and-max {
    border-left: 1px solid $color-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;

    div:first-child {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 768px) {
  .forecast-summary {
    &__date {
      border-left: none;
    }
    &__min-and-max {
      border-left: none;
    }
  }

  .forecast-controls {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
}
