.next-days-card {
  background-color: $color-accent;
  color: $color-white;
  cursor: pointer;
  opacity: 0.9;
  padding: 8px;
  position: relative;
  width: 135px;

  &::after {
    background-image: url('/icons/circle-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 8px;
    content: ' ';
    height: 16px;
    position: absolute;
    right: 8px;
    width: 16px;
  }

  &:hover {
    opacity: 1;
  }

  &__date {
    font-size: 0.875em;
    font-weight: 300;
  }

  &__icon {
    display: block;
    margin-top: 8px;
    margin: auto;
    width: 84px;
  }

  &__temperature {
    font-size: 1.125em;
    margin-top: 8px;
  }
  &__situation {
    font-size: 0.685em;
    font-weight: 300;
    margin-top: 4px;
  }
  &__rain-chances {
    font-size: 0.685em;
    font-weight: 300;
    margin-top: 4px;
    opacity: 0.8;
  }
  &__low-temperature {
    font-size: 0.685em;
    font-weight: 300;
    margin-top: 8px;
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .next-days-card {
    margin-top: 16px;
  }
}
