.next-hours-forecast {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 250px;
}

@media (max-width: 768px) {
  .next-hours-forecast {
    max-height: none;
  }
}
