.other-days-card {
  background-color: $color-accent;
  color: $color-white;
  cursor: pointer;
  opacity: 0.9;
  padding: 8px;
  position: relative;
  width: 210px;
  display: flex;

  &::after {
    background-image: url('/icons/circle-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 8px;
    content: ' ';
    height: 16px;
    position: absolute;
    right: 8px;
    width: 16px;
  }

  &:hover {
    opacity: 1;
  }

  .other-days-card__icon {
    margin-right: 8px;
    width: 75px;
  }

  .other-days-card__date {
    font-size: 0.875em;
    font-weight: 300;
  }

  .other-days-card__temperature {
    font-size: 1.125em;
    font-weight: 500;
    margin-top: 16px;
  }

  .other-days-card__situation {
    font-size: 0.625em;
    font-weight: 300;
    margin-top: 4px;
  }

  .other-days-card__rain-chances {
    font-size: 0.5em;
    font-weight: 300;
    opacity: 0.8;
  }
}
