.panel {
  background-color: $color-secondary;
  max-width: 954px;
  padding: 32px;

  &--dense {
    padding: 24px;
  }

  &--small {
    width: 466px;
  }

  &--translucid {
    background-color: $color-secondary-translucid;
  }
}
