.home-background {
  background: url('/img/morning_photo.jpg') #3f3f3f;
  background-size: cover;
}

.home-panel {
  background-color: $color-secondary;
  opacity: 0.8;
  width: 466px;
  padding: 24px;
  &__logo {
    text-align: center;
  }
}
