.align-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.align-bottom {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
