<div class="container container-background">
  <div class="panel panel--dense panel--translucid panel--small">
    <h2 class="display-3 align-center">Credits</h2>
    <hr class="separator space-mt-8 space-mb-3">
    <p class="body-1">Icons taken from
      <a href="https://www.flaticon.com" target="blank" rel="noopener noreferrer">www.flaticon.com</a> made by:
      <a href="https://www.flaticon.com/free-icon/wind_615486?term=wind&page=1&position=50" target="blank"
        rel="noopener noreferrer">Freeplk</a>,
      <a href="https://www.flaticon.com/free-icon/humidity_1163648?term=humidity&page=1&position=43" target="blank"
        rel="noopener noreferrer">Iconixar</a>,
      <a href="https://www.flaticon.com/free-icon/meter_1085657?term=pressure&page=1&position=13" target="blank"
        rel="noopener noreferrer">Goodware</a> and
      <a href="https://www.flaticon.com/packs/weather-forecast" target="blank" rel="noopener noreferrer">Linector</a>.
    </p>
    <p class="body-1 space-mt-2">Photos taken from
      <a href="https://unsplash.com" target="blank" rel="noopener noreferrer">unsplash.com</a> by:
      <a href="https://unsplash.com/photos/W5MhJ6cy1So" target="blank" rel="noopener noreferrer">@davidmarcu</a>,
      <a href="https://unsplash.com/photos/Lagi4DWvXpc" target="blank" rel="noopener noreferrer">@niklas_wersinger</a>,
      <a href="https://unsplash.com/photos/trvELSvNZoY" target="blank" rel="noopener noreferrer">@ivans_in_danger</a>,
      <a href="https://unsplash.com/photos/QdwR5aRGkbs" target="blank" rel="noopener noreferrer">@jfelise</a>,
      <a href="https://unsplash.com/photos/VWxiaKn-lVc" target="blank" rel="noopener noreferrer">@tadej</a> and
      <a href="https://unsplash.com/photos/TvCRYXwKhfQ" target="blank" rel="noopener noreferrer">@renancaraujo</a>.
    </p>
    <hr class="separator space-mt-3 space-mb-2">
    <LinkTo @route="index" class="btn btn--block">Back</LinkTo>
  </div>
</div>