<div class="home-container">
  <div class="home-panel">
    <div class="home-panel__logo space-mb-2"><img src="img/logo.svg" alt="Forecaster"></div>
    <hr class="separator space-mb-3">
    <form action="#" class="city-form">
      <div class="input-group">
        <input class="input-control" type="text" placeholder="Where are you now?">
        <button class="btn input-group__after">Go</button>
      </div>
    </form>
    <hr class="separator space-mt-3 space-mb-2">
    <p>Designed and developed by <a href="https://www.linkedin.com/in/maxmaccari/" target="_blank">Maxsuel Maccari</a>
    </p>
  </div>
</div>